body {
    background-color: #000000;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar {
    background-color: #ff9300;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .nav-link {
    color: #ffffff !important;
}

.navbar .nav-link:hover {
    color: #ffffff !important;
}

.content {
    padding: 32px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 16px;
    margin-top: 70px;
    margin-bottom: 30px;
    overflow: auto;
    max-height: calc(100vh - 100px);
}
#tableauViz{
    background-color: red;       
    height: 1600px;
    border: solid 1px blue;
    overflow: hidden;
    
}

.description {
    margin: 10px 0 40px;
    font-size: 16px;
    color: #ffffff;
}

.custom-button {
    background-color: #000000;
    color: #ffffff;
    line-height: 40px;
    width: 100px;
    display: inline-block;
}

#dropdown {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    border: 1px solid #ccc;
    display: none;
    list-style-type: none;
    padding: 0;
    color: #000000;
}

.form-control {
    width: 450px;
    background-color: #2b2b2b;
}
.form-control:hover {
    background-color: #3b3b3b; /* 自行調整顏色 */
}

@media (max-width: 768px) {
    .navbar-brand,
    h1 {
        font-size: 1.5rem;
        white-space: normal;
    }
}
